<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RocketMeet</title>
<body style="text-align: center;
font-family: Arial, Helvetica, sans-serif;background: #ffffff;">
    <div id="main-div">
        <div id="icon" style="padding-top: 25px;display: block;margin-left: auto;margin-right: auto;width: 50%;">
            <a href="https://rocketmeet.me" target="_blank" style="text-decoration: none;
            color: #000000;">
                <img src="cid:logo" alt="rocketmeet">
            </a>
        </div>
        <div id="title" style="font-size: 36px;">
            <a href="https://rocketmeet.me" target="_blank" style="text-decoration: none;
            color: #000000;">
                <strong>RocketMeet</strong>
            </a>
        </div>
        <div>
            <div id="lines" style="margin-left: auto;margin-right: auto;font-size: 16px;padding: 0px 0px 0px 0px;text-align: left;width: 40%;color: #000000;line-height: 22.5px;">
                <p>
                    Hi,<br>{{senderName}} has invited you to participate in the <strong>{{pollTitle}}</strong> RocketMeet poll
                </p>
            </div>
        </div>
        <div id="button-container" style="padding: 10px;">
            <div id="button" style="padding-bottom: 15px;">
                <a href="https://rocketmeet.me/poll/{{pollID}}" style="box-sizing:border-box;display:inline-block;font-family:helvetica,sans-serif;text-decoration:none;text-align:center;color:#ffffff;background-color:#000000;border-radius:35px;width:auto;max-width:100%;word-break:break-word;word-wrap:break-word" target="_blank">
                    <span style="display:block;padding:5px 20px 2px 20px;line-height:140%"><span style="font-size:20px;line-height:28px">Mark your availability</span></span>
                </a>                
            </div>
        </div>
        <div id="footer-container" style=" background-color: #f0f0f0;
        padding: 30px;">
            <div id="footer" style="width: 100%;font-size: 12px;color: #000000;">
                <p>RocketMeet is a free and Open Source meeting scheduling application.
                    <br> 
                    <strong>
                        <a href="https://rocketmeet.me" target="_blank" style="text-decoration: none;
                        color: #000000;">Try now!</a>
                    </strong>
                </p>
            </div>
        </div>
    </div>
</body>
</html>
