PORT=5000

EMAIL=johndoe@gmail.com
PASSWORD=password

LOGGER_LEVEL=info

NODE_ENV=production

#firebase_credentials
TYPE=
PROJECT_ID=
PRIVATE_KEY_ID=
PRIVATE_KEY=
CLIENT_EMAIL=
CLIENT_ID=
AUTH_URI=
TOKEN_URI=
AUTH_PROVIDER_X509_CERT_URL=
CLIENT_X509_CERT_URL=
