.auth-outer-container {
  padding-left: 0;
  padding-right: 0;
  font-family: "Syne", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-inner-container {
  width: 22rem;
}

.auth-logo {
  margin: 0 auto;
  width: 100%;
  text-align: center;

  img {
    width: $brandLogoWidth;
    height: $brandLogoHeight;
  }
}

.auth-first-jumbo {
  background-color: #fefffe;
  border: 0.1rem solid #e0e1e0;
  color: #ffffff;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 0;
  border-radius: 0.3rem;
}

.auth-button {
  margin-top: 1rem;
  background-color: $brandColor;
  color: #fafafa;
  font-weight: 500;
  font-size: 0.9rem;
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  box-shadow: none;
  transition: none;
  margin: 0;
  width: 100%;

  &:hover,
  &:active,
  &:focus {
    box-shadow: 0rem 0.15rem 0.3rem rgba(0, 0, 0, 0.2) !important;
    background-color: $brandColor !important;
  }

  &[disabled] {
    opacity: 0.4;
    background-color: $brandColor !important;
    pointer-events: none;
  }
}

.auth-second-jumbo {
  background-color: #000000;
  border: 0.1rem solid #e0e1e0;
  color: #000000;
  font-size: 0.9rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  margin-top: 1rem;
  margin-bottom: 0;
  text-align: center;
  border-radius: 0.3rem;

  a,
  a:not([href]):not([class]) {
    text-decoration: underline;
    color: #000000;
    cursor: pointer;

    &:hover {
      color: $brandColor;
    }
  }
}
