.datetime-weekday {
  display: block;
  text-align: center;
  font-family: "Cal Sans";
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: -0.2em;
  color: #8c8c8c;
}

.datetime-day {
  display: block;
  text-align: center;
  font-family: "Cal Sans";
  font-size: 2rem;
  margin-bottom: -0.2em;
}

.datetime-mon {
  display: block;
  text-align: center;
  font-size: 1.2rem;
  font-family: "Cal Sans";
  letter-spacing: 0.02rem;
  font-weight: 500;
  margin-bottom: 0.4em;
  color: #8c8c8c;
}

.datetime-time-1 {
  font-family: "Inter";
  display: block;
  text-align: center;
  margin-bottom: -0.2em;
  letter-spacing: 0.03rem;
  font-size: 0.7rem;

  @include media-breakpoint-up(sm) {
    font-size: 1rem;
  }
}

.datetime-time-2 {
  font-family: "Inter";
  display: block;
  text-align: center;
  letter-spacing: 0.03rem;
  font-size: 0.7rem;

  @include media-breakpoint-up(sm) {
    font-size: 1rem;
  }
}