.form-label {
  font-weight: 400;
  font-family: "Inter";
  font-size: 0.875rem;
  color: #101827;
}

.form-text {
  background-color: #ffffff;
  color: #101827;
  border: 0.09rem solid #e5e7eb;
  border-radius: 0.5rem;
  font-family: "Inter";
  font-size: 0.9rem;
  font-weight: 400;
  transition: none;
  margin-bottom: 1rem;
  margin-top: 0;
  transition: none;

  @include media-breakpoint-up(sm) {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.form-text::placeholder {
  color: #818181;
  opacity: 1;
}

.form-text:hover {
  color: #101827;
  background-color: #ffffff;
  border: 0.09rem solid #b7b9bd;
}

.form-text:focus {
  color: #101827;
  background-color: #ffffff;
  border: 0.1rem solid #101827;
}

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-button-spinner {
  vertical-align: -0.2rem;
}

.form-select {
  background-color: #101827;
  color: #101827;
  border: none;
  outline: 0.05rem solid #e0e1e0;
  border-radius: 0.3rem;
  font-family: "Inter";
  font-size: 0.9rem;
  width: 8rem;

  &:focus {
    outline: 0.14rem solid #101827;
    background-color: #101827;
  }
}