.form-label {
  font-weight: 400;
  font-family: "Inter";
  font-size: 0.875rem;
  color: #101827;
}

.form-text {
  background-color: #ffffff;
  color: #101827;
  border: 0.09rem solid #e5e7eb;
  border-radius: 0.5rem;
  font-family: "Inter";
  font-size: 0.9rem;
  font-weight: 400;
  transition: none;
  margin-bottom: 1rem;
  margin-top: 0;
  transition: 0.2s;

  @include media-breakpoint-up(sm) {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.form-text::placeholder {
  color: #818181;
  opacity: 1;
}

.form-text:hover {
  color: #101827;
  background-color: #ffffff;
  border: 0.09rem solid #b7b9bd;
}

.form-text:focus {
  color: #101827;
  background-color: #ffffff;
  border: 0.1rem solid #101827;
}

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-button-spinner {
  vertical-align: -0.2rem;
}

.form-select {
  background-color: #ffffff;
  color: #101827;
  border: 0.09rem solid #e5e7eb;
  border-radius: 0.5rem;
  font-family: "Inter";
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 1rem;
  margin-top: 0;
  transition: 0.2s;
  padding-left: 0.5rem !important;

  @include media-breakpoint-up(sm) {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.form-select:hover {
  color: #101827;
  background-color: #ffffff;
  border: 0.09rem solid #b7b9bd;
}

.form-select:focus {
  color: #101827;
  background-color: #ffffff;
  border: 0.1rem solid #101827;
}

.form-group {
  margin-bottom: 0 !important;
}

.samay-form-col {
  padding-right: 1rem;
  padding-left: 1rem;

  @include media-breakpoint-up(sm) {
    padding-right: 0rem;
    &.first-of-type {
      padding-left: 2rem;
    }
  }
}
