@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@import "./variables.scss";

@import "/node_modules/bootstrap/scss/bootstrap.scss";

html,
body {
  padding: 0;
  margin: 0;
  background-color: #fafafd;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.8rem;
}
::-webkit-scrollbar-thumb {
  background: #c9c9c9;
}
::-webkit-scrollbar-thumb:hover {
  background: #b9b9b9;
}

::-webkit-scrollbar-track {
  background: #e4e4e4;
}

::-moz-selection {
  color: #fafafa;
  background: $brandColor;
}

::selection {
  color: #fafafa;
  background: $brandColor;
}

main {
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: #fafafd;
}

.global-flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.global-container {
  padding-left: 0.5rem;
  width: 95%;
  padding-right: 0.5rem;

  @include media-breakpoint-up(sm) {
    width: 75rem;
    padding-left: 0;
    padding-right: 0;
  }
}

.global-page-heading {
  font-family: "Manrope", sans-serif;
  color: #000000;
  font-size: 1.5rem;
  font-weight: 700;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  background-color: #fffefe;
  border-bottom: #eaeaea solid 0.1rem;

  @include media-breakpoint-up(sm) {
    font-size: 2rem;
  }
}

.global-page-section {
  margin-top: 1.5rem;

  @include media-breakpoint-up(sm) {
    margin-top: 3rem;
  }
}

.global-toast {
  max-width: 35rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 9999;
  float: right;
  font-family: "Inter", sans-serif;
}

.global-primary-button {
  background-color: $brandColor;
  color: #fafafa;
  font-weight: 500;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  border: none;
  border-radius: 0.3rem;
  padding: 0.8rem 1.5rem 0.8rem 1.5rem;
  box-shadow: none;
  transition: none;
  width: 100%;

  &:hover,
  &:active,
  &:focus {
    box-shadow: 0rem 0.15rem 0.3rem rgba(0, 0, 0, 0.2) !important;
    background-color: $brandColor !important;
  }

  &[disabled] {
    opacity: 0.4;
    background-color: $brandColor !important;
    pointer-events: none;
  }

  @include media-breakpoint-up(sm) {
    width: unset;
    float: right;
  }
}

.global-primary-button:hover {
  box-shadow: 0rem 0.15rem 0.3rem rgba(0, 0, 0, 0.2);
}

.global-primary-button[disabled] {
  opacity: 0.4;
  pointer-events: none;
}

@import "./navbar.scss";
@import "./poll.scss";
@import "./datetime.scss";
@import "./new-poll.scss";
@import "./rat.scss";
@import "./form.scss";
@import "./auth.scss";
@import "./dashboard.scss";
