@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  background-color: #0f1729 !important;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.8rem;
}
::-webkit-scrollbar-thumb {
  background: #4d4d4d;
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background: #5a5a5a;
}

::-webkit-scrollbar-track {
  background: #333333;
  border-radius: 0.5rem;
}
