@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  background-color: #f4f5f4 !important;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.8rem;
}
::-webkit-scrollbar-thumb {
  background: #c9c9c9;
}
::-webkit-scrollbar-thumb:hover {
  background: #b9b9b9;
}

::-webkit-scrollbar-track {
  background: #e4e4e4;
}
