@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Cabin', sans-serif;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #efefef;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: #cccccc; 
}