.how-to-root-container {
  min-height: 100vh;
}

.how-to-flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

//
// Container
// ..................................................................../

.how-to-container {
  margin-top: 7rem;
  margin-bottom: 2rem;
  padding-left: 0.5rem;
  width: 95%;
  padding-right: 0.5rem;

  @include media-breakpoint-up(sm) {
    width: 100rem;
    padding-left: 0;
    padding-right: 0;
  }

  &.cta {
    margin-bottom: 3rem;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
}

//
// Page
// ..................................................................../

.how-to-features {
  &.title {
    font-size: 1.6rem;
    color: #101827;
    font-family: "Cal Sans";
    font-weight: 700;
    line-height: 2rem;
    padding-right: 0.5rem;
    letter-spacing: 0.05rem;
    padding-left: 0.5rem;
    display: block;
    text-align: center;
    margin-top: 3rem;

    @include media-breakpoint-up(sm) {
      font-size: 2.7rem;
      padding-bottom: 1rem;
      margin-top: 1rem;
    }
  }

  &.desc {
    font-size: 1rem;
    color: #565656;
    font-family: "Cal Sans";
    font-weight: 500;
    letter-spacing: 0.05rem;
    display: block;
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 3rem;
    margin-top: 1rem;

    @include media-breakpoint-up(sm) {
      margin-top: 0;
      font-size: 1.5rem;
    }
  }
}

.how-to-card-group {
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;

  @include media-breakpoint-up(sm) {
    width: 50%;
  }
}

.how-to-card {
  background-color: #f9fafb;
  border: none;
  border-radius: 0.1rem;

  &.icon-yes {
    color: #49de80;
    font-size: 1rem;
    padding: 0;
    margin-top: -0.1rem;
  }

  &.icon-if-need-be {
    color: #fcd34d;
    font-size: 1rem;
    padding: 0;
    margin-top: -0.1rem;
  }

  &.title {
    font-family: "Cal Sans";
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    font-weight: 700;
    color: #101827;
  }

  &.desc {
    font-family: "Inter";
    font-weight: 400;
    font-size: 0.9rem;

    @include media-breakpoint-up(sm) {
      font-size: 1rem;
    }
  }
}
