.root-container {
  min-height: 100vh;
}

main {
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  font-family: "IBM Plex Sans", sans-serif;
}

.outer-container {
  margin-top: 2rem;
}

.inner-container {
  padding: 1rem 4rem;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

@media (min-width: 0) and (max-width: 992px) {
  .inner-container {
    padding: 0 !important;
  }
}

.rm-navbar {
  background-color: #ffffff;
  font-family: "IBM Plex Sans", sans-serif;
  color: #101010;
}

.rm-nav-hamburger {
  border: none !important;
}

.rm-brand {
  color: #101010 !important;
  font-weight: 600;
}

.rm-logo-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.7rem;
}

.rm-nav-link {
  color: #101010 !important;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  margin-right: 1rem;
}

.github-nav-link {
  display: none !important;
}

.rm-footer {
  width: 100%;
  position: fixed;
  bottom: 2.8rem;
}

.octocat {
  position: absolute !important;
  right: 2.7rem !important;
}

@media (min-width: 0) and (max-width: 992px) {
  .github-nav-link {
    color: #101010 !important;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    margin-right: 1rem;
    display: unset !important;
  }

  .octocat {
    display: none !important;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.hero-col {
  margin-top: 3rem !important;
}

.hero-title {
  font-weight: 700 !important;
  font-size: 5rem !important;
  color: #101010;
}

.hero-line {
  display: block;
}

.hero-strikethrough {
  text-decoration: line-through;
  text-decoration-color: rgba(255, 128, 128, 0.9);
  text-decoration-thickness: 2rem;
}

.hero-desc {
  font-weight: 400 !important;
  font-size: 1.8rem !important;
  color: #101010;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

@media (min-width: 0) and (max-width: 992px) {
  .hero-col {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .hero-line {
    display: unset;
  }

  .hero-title {
    font-weight: 700 !important;
    font-size: 2.5rem !important;
    color: #101010;
  }

  .hero-desc {
    font-weight: 400 !important;
    font-size: 1.3rem !important;
    color: #101010;
  }

  .hero-strikethrough {
    text-decoration-thickness: 1.4rem;
  }

  .rm-primary-button {
    width: 100% !important;
  }

  .rm-primary-button-small {
    width: 100% !important;
  }
}

.rm-primary-button {
  background-color: #3a3a3a !important;
  transition: 0.3s;
  font-weight: 600 !important;
  font-size: 1.3rem !important;
  border-radius: 1rem !important;
  border-color: #2b2b2b !important;
  padding: 0.8rem 1.5rem 0.8rem 1.5rem !important;
}

.rm-primary-button:hover {
  background-color: #000000 !important;
  transition: 0.3s;
}

.rm-primary-button[disabled] {
  opacity: 0.4 !important;
  pointer-events: none !important;
}

.rm-primary-button-small {
  background-color: #3a3a3a !important;
  transition: 0.3s;
  font-weight: 600 !important;
  font-size: 1rem !important;
  border-radius: 1rem !important;
  border-color: #2b2b2b !important;
  padding: 0.6rem 1rem 0.6rem 1rem !important;
}

.rm-primary-button-small:hover {
  background-color: #000000 !important;
  transition: 0.3s;
}

.rm-primary-button-small[disabled] {
  opacity: 0.4 !important;
  pointer-events: none !important;
}

.rm-primary-button-outline-small {
  transition: 0.3s;
  background-color: #ffffff !important;
  color: #000000 !important;
  font-weight: 600 !important;
  font-size: 1rem !important;
  border-radius: 1rem !important;
  border-color: #000000 !important;
  padding: 0.5rem 1rem 0.5rem 1rem !important;
}

.rm-primary-button-outline-small:hover {
  background-color: #000000 !important;
  color: #ffffff !important;
  transition: 0.3s;
}
.rm-delete-button {
  border-color: rgba(0, 0, 0, 0) !important ;
  width: 40px;
  height: 40px;
  padding-left: 0 !important;
}
.rm-delete-button:hover {
  transition: 0.1s;
  background-color: rgba(0, 0, 0, 0) !important;
  transform: scale(1.1);
}
.modal-dark {
  background-color: #2e2e2e;
  color: #fff;
}
.modal-content {
  background-color: #2e2e2e !important;
}
.modal-header,
.modal-footer {
  border: none !important;
}
h2 {
  font-weight: 100 !important;
  font-size: 3rem !important;
}

h3 {
  font-weight: 300 !important;
  font-size: 2rem !important;
}

h3.ctl,
h4.ctl,
h5.ctl {
  font-weight: 300 !important;
  font-size: 2rem !important;
}

h4 {
  font-weight: 300 !important;
  font-size: 1.5rem !important;
}

.rm-poll-container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.jumbo-row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.jumbo-col-black {
  padding-left: 0 !important;
  padding-right: 0 !important;
  background-color: #101010 !important;
  min-height: 100vh !important;
  flex-grow: 1 !important;
}

.jumbo-col {
  margin-bottom: 2rem !important;
}

.poll-create {
  background-color: #101010 !important;
  color: #ffffff;
  padding: 3rem !important;
  border-radius: 0 !important;
  margin-bottom: 0 !important;
}

.poll-timeslot-jumbo {
  background-color: #ffffff !important;
  color: #000000;
  padding: 3rem !important;
  border-radius: 0 !important;
  margin-bottom: 0 !important;
}

.create-poll-btn {
  margin-top: 3rem;
  float: right;
}

.poll-create-content {
  padding-left: 2rem;
  padding-right: 3rem;
}

@media (min-width: 0) and (max-width: 576px) {
  .jumbo-col-black {
    flex-grow: unset !important;
    min-height: unset !important;
    height: auto !important;
  }

  .jumbo-col {
    margin-bottom: 0 !important;
  }

  .poll-timeslot-jumbo {
    padding: 0 !important;
  }

  .create-poll-btn {
    float: none !important;
    margin-bottom: 1rem !important;
  }

  .poll-create-content {
    padding-left: 0;
    padding-right: 0;
  }
}

.rm-form-text {
  background-color: #101010 !important;
  color: #e0e0e0 !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 3px solid #6c757d !important;
  border-radius: 0 !important;
  font-size: 3rem !important;
}

.rm-form-text:focus {
  border-bottom: 3px solid #d3d3d3 !important;
}

.rm-form-desc {
  background-color: #101010 !important;
  color: #e0e0e0 !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 3px solid #6c757d !important;
  border-radius: 0 !important;
  font-size: 1.5rem !important;
}

.rm-form-desc:focus {
  border-bottom: 3px solid #d3d3d3 !important;
}

.timezone-info-icon {
  width: 1.3rem;
  height: 1.3rem;
  color: #e0e0e0;
  margin-top: 2rem;
}

@media (min-width: 0) and (max-width: 992px) {
  .rm-form-desc {
    font-size: 1rem !important;
  }

  .rm-form-text {
    font-size: 1.5rem !important;
  }

  .timezone-info-icon {
    width: 1rem;
    height: 1rem;
    margin-top: 1rem;
  }
}

.rat-TimeSlot_component {
  background-color: #101010 !important;
}

.rat-TimeSlot_title {
  padding-top: 0.1rem !important;
  text-align: center !important;
  font-size: 0.8rem !important;
  font-weight: 600 !important;
  color: #f0f0f0 !important;
}

@media (min-width: 0) and (max-width: 992px) {
  .rat-TimeSlot_title {
    padding: 0.3rem 0 0 0 !important;
    font-size: 0.5rem !important;
    line-height: 0.4rem !important;
  }

  .poll-info-div {
    text-align: center !important;
    justify-content: center !important;
    align-content: center !important;
  }

  .mark-options-btn {
    float: none !important;
  }
}

.rat-DayHeader_day {
  font-size: 0.8rem;
  font-weight: 600;
}

.rat-Ruler_inner {
  font-size: 0.8rem;
}

.rat-AvailableTimes_home {
  background-color: #101010 !important;
}

.mark-options-btn {
  margin-top: 3rem;
  float: right;
}

.rm-badge-dash {
  padding-top: 0.6em !important;
  padding-left: 0.6em !important;
  padding-right: 0.6em !important;
  padding-bottom: 0.6em !important;
  float: right !important;
}

.rm-badge-poll {
  padding-top: 0.6em !important;
  padding-left: 0.6em !important;
  padding-right: 0.6em !important;
  padding-bottom: 0.6em !important;
}

.jumbo-col-info {
  padding-left: 0 !important;
  padding-right: 0 !important;
  background-color: #101010 !important;
  height: 100vh !important;
}

.poll-info {
  background-color: #101010 !important;
  color: #f1f1f1;
  padding: 3rem !important;
  border-radius: 0 !important;
  margin-bottom: 0 !important;
}

.poll-table-jumbo {
  background-color: #ffffff !important;
  color: #000000;
  padding: 3rem !important;
  border-radius: 0 !important;
  margin-bottom: 0 !important;
}

.poll-info-content {
  padding-left: 2rem;
  padding-right: 3rem;
}

.poll-shareinvite-content {
  margin-top: 3rem;
  padding-left: 2rem;
  padding-right: 3rem;
}

.poll-info-title {
  font-size: 3rem;
  font-weight: 700;
  display: block;
  line-height: 3.5rem;
  margin-top: 1rem;
}

.poll-info-desc {
  font-size: 1.3rem;
  font-weight: 500;
  display: block;
  margin-top: 1rem;
}

.poll-info-user {
  padding-top: 2rem;
  display: block;
}

.poll-info-date {
  display: block;
}

.rm-chevron-down-div {
  text-align: center;
}

.rm-chevron-down {
  display: none;
}

@media (min-width: 0) and (max-width: 992px) {
  .jumbo-col-info {
    height: auto !important;
  }

  .poll-info {
    padding: 2rem !important;
  }

  .poll-info-content {
    padding-left: 0;
    padding-right: 0;
  }

  .poll-shareinvite-content {
    padding-left: 0;
    padding-right: 0;
  }

  .poll-info-title {
    font-size: 2.3rem;
    line-height: 2.5rem;
  }

  .poll-info-desc {
    font-size: 1rem;
    margin-top: 1rem;
  }

  .rm-chevron-down {
    display: unset;
  }
}

.emailList {
  margin-top: 0.5rem;
}

.poll-info-final-date {
  padding-top: 2rem;
  display: block;
}

.poll-info-final-date-star {
  color: #ffbf00;
}

.poll-table {
  margin-top: 0;
}

.poll-table-participants {
  font-size: 1.1rem;
  font-weight: 600;
  border-top: 0 !important;
  vertical-align: middle !important;
  width: 5rem !important;
}

.participant-cell {
  border-top: 0 !important;
  border-bottom: 0 !important;
  width: 5rem !important;
}

.poll-table-top-row {
  background-color: #ffffff;
  color: #000000;
}

.slot-time {
  border-top: 0 !important;
  border-bottom: 0 !important;
  min-width: 7rem !important;
}

.slot-final-choice {
  text-align: center;
}

.final-star {
  width: 1.7rem;
  height: 1.7rem;
  color: #ffbf00;
  margin-bottom: 1rem;
}

.datetime-weekday {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: -0.2em;
}

.datetime-day {
  display: block;
  text-align: center;
  font-size: 2rem;
  margin-bottom: -0.2em;
}

.datetime-mon {
  display: block;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.4em;
}

.datetime-time-1 {
  display: block;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: -0.2em;
}

.datetime-time-2 {
  display: block;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

@media (min-width: 0) and (max-width: 992px) {
  .slot-time {
    min-width: 4.5rem !important;
  }

  .datetime-time-1 {
    font-size: 0.6rem;
  }

  .datetime-time-2 {
    font-size: 0.6rem;
  }
}

.mark-choice-name {
  color: #000000 !important;
  border: 2px solid #6c757d !important;
  border-radius: 0.5rem !important;
  font-size: 1rem !important;
}

.slot-checked {
  background-color: #000000;
  text-align: center;
  border-top: 0.5rem solid #ffffff !important;
  border-left: 0.5rem solid #ffffff !important;
  width: 7rem !important;
}

.checked-option {
  width: 2rem;
  height: 2rem;
  color: #37f713;
}

.slot-unchecked {
  border-top: 0.5rem solid #ffffff !important;
  border-left: 0.5rem solid #ffffff !important;
  background-image: linear-gradient(
    135deg,
    #ffffff 30%,
    #c7c7c7 30%,
    #c7c7c7 50%,
    #ffffff 50%,
    #ffffff 80%,
    #c7c7c7 80%,
    #c7c7c7 100%
  );
  background-size: 7.07px 7.07px;
  width: 7rem !important;
}

.poll-table-choose-text {
  font-size: 1.2rem;
  font-weight: 600 !important;
  text-decoration: underline;
  border-top: 0 !important;
  min-width: 9rem !important;
}

.poll-table-choose-textbox {
  font-size: 1.2rem;
  font-weight: 600 !important;
  border-top: 0 !important;
  min-width: 8rem !important;
}

.slot-checkbox-cell {
  border-top: 0 !important;
  text-align: center;
  width: 7rem !important;
}

.slot-checkbox input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
}

.slot-checkbox-final-cell {
  background-color: #ffffff;
  border-top: 0 !important;
  text-align: center;
}

.slot-checkbox input[type="radio"] {
  width: 1.5rem;
  height: 1.5rem;
}

.imp-star {
  font-weight: 600;
  color: #ff0000;
}

.dashcard {
  min-height: 150px;
}

.col-9 {
  padding: 25px;
  min-height: inherit !important;
}
.card-body {
  padding: 0 !important;
  min-height: 80px !important;
}

.row.ctl {
  min-height: inherit;
  padding: inherit;
}

.ctl.card {
  background-color: #ffffff;
  box-shadow: 3px 3px 19px 1px #ededed;
}

/*Invite tags*/

.error {
  margin: 0;
  font-size: 90%;
  color: tomato;
}

.tag-item {
  background-color: #575757;
  color: #ffffff;
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  border-radius: 30px;
  height: 30px;
  padding: 0 4px 0 1rem;
  display: inline-flex;
  align-items: center;
  margin: 0 0.3rem 0.3rem 0;
}

.tag-item > .button {
  background-color: white;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font: inherit;
  margin-left: 10px;
  font-weight: bold;
  padding: 0;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-pic {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: #ffffff;
  font-size: 2rem;
  background-color: #000000;
}
.user-info {
  text-align: left;
}

.greetings {
  margin-bottom: 3rem;
}

.profile-user {
  font-weight: 500 !important;
  font-size: 2rem;
}

.dashboard-btn {
  float: right;
}

@media (min-width: 0) and (max-width: 992px) {
  .profile-user {
    font-size: 1.3rem !important;
  }

  .dashboard-btn {
    margin-top: 1.5rem;
  }
}

.dash-container {
  margin: 0 5px;
}
.yp {
  margin: 0 10px;
}

@media (min-width: 600px) {
  .dash-container {
    margin: 30px 30px 30px 60px;
  }
  .card-columns {
    column-count: 1 !important;
    margin-right: 20px;
  }
}

.dash-coming-up {
  font-weight: 700;
  font-size: 1.25rem;
  padding-left: 2.5rem;
}

.dash-your-polls {
  font-weight: 700;
  font-size: 1.25rem;
}

@media screen and (max-width: 601px) and (min-width: 389px) {
  .show-dsk {
    display: none;
  }
}
@media screen and (min-width: 600px) {
  .show-mob {
    display: none;
  }
}

.card-title {
  font-size: 1.75rem;
  font-weight: 500;
}
.card-bdy {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
}
.card-bdy:hover {
  text-decoration: none;
  color: #ffffff;
}
.bg-dark:hover {
  background-color: #000000 !important;
  transform: scale(101%);
  transition: all 0.5s;
}
.alert-corner {
  position: fixed;
  bottom: 1px;
  right: 5px;
  max-height: 200px;
  width: 400px;
}
.card-columns {
  column-count: 1 !important;
}

.recent-div {
  height: 600px;
  margin-top: 1.4rem;
  padding-left: 2.5rem;
}

@media screen and (max-width: 991.08px) {
  .recents {
    display: none;
  }
}
.upcomings {
  background: #eeeeee;
  border-radius: 0.3rem;
}

@media (max-width: 388px) {
  .show-mob {
    display: none;
  }
}
/* Nprogress styles */

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 3px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

.rm-response-null {
  display: none !important;
}

.rm-response-error {
  background-color: #f8d7da !important;
  color: #721c24 !important;
}

.rm-response-success {
  background-color: #d4edda !important;
  color: #155724 !important;
}

.rm-response-title {
  font-size: 1.2rem !important;
}

@media (min-width: 0) and (max-width: 992px) {
  .rm-response-title {
    font-size: 1rem !important;
  }
}

.share-textbox {
  background-color: #101010 !important;
  color: #e0e0e0 !important;
  border: 2px solid #6c757d !important;
  border-top-left-radius: 1rem !important;
  border-bottom-left-radius: 1rem !important;
}

.share-textbox:focus {
  border: 2px solid #a9aaac !important;
}

.invite-textbox {
  background-color: #101010 !important;
  color: #e0e0e0 !important;
  border: 2px solid #6c757d !important;
  border-radius: 1rem !important;
}

.invite-textbox:focus {
  border: 2px solid #a9aaac !important;
}

.invite-textbox::placeholder {
  color: #e0e0e0 !important;
}

@media (min-width: 0) and (max-width: 992px) {
  .share-textbox {
    font-size: 1rem !important;
  }

  .invite-textbox {
    font-size: 1rem !important;
  }

  .index-create-button {
    margin-bottom: 2rem;
  }
}

.card-footer-muted {
  color: #adadad;
}

.rm-button-spinner {
  vertical-align: unset !important;
}
