.root-container {
  min-height: 100vh;
}

main {
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}

.text-sm {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem !important;
}

.flex-wrapper {
  display: flex !important;
  min-height: 100vh !important;
  flex-direction: column !important;
  justify-content: space-between !important;
}

.kukkee-navbar {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
  background-color: #fffefe;
  border-bottom: #eaeaea solid 0.1rem;
}

@media (min-width: 0) and (max-width: 576px) {
  .kukkee-navbar {
    margin-top: 0rem;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}

.kukkee-nav-hamburger {
  border: none !important;
  padding: 0 !important;
  outline: none !important;
}

.kukkee-brand {
  color: #000000 !important;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
}

.kukkee-logo-icon {
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.4em;
}

.kukkee-nav-link {
  color: #6f6f6f !important;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Manrope", sans-serif;
  margin-left: 2rem;
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-right: 0 !important;
  cursor: pointer;
}

.kukkee-nav-link:hover {
  color: #363636 !important;
}

.kukkee-container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.kukkee-footer {
  margin-top: 2rem !important;
  background-color: #fafafa !important;
}

.footer-container {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.kukkee-footer-row {
  background-color: #fafafa !important;
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.right-container {
  display: flex;
  justify-content: space-between;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.footer-text {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  margin-left: -2.5rem !important;
}

.footer-logo {
  color: #000000 !important;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

.kukkee-footer-row ul {
  list-style: none;
}

.footer-col {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.footer-col h6 {
  font-weight: 700;
  font-family: "Manrope", sans-serif;
  color: #6f6f6f;
  margin-left: 2.5rem !important;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 0.5rem;
}

.footer-col ul li a {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: #6f6f6f;
}

.footer-col ul li a:hover {
  color: #363636;
}

.footer-left p {
  text-decoration: none;
  font-weight: 400 !important;
  color: #6f6f6f;
  display: block;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

@media (min-width: 0) and (max-width: 576px) {
  .kukkee-nav-link {
    margin-left: 0 !important;
    border-top: 0.1rem solid #e0e1e0;
  }

  .kukkee-footer-row {
    flex-direction: column;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }

  .footer-col ul {
    padding-left: 0 !important;
  }

  .footer-right ul li a {
    font-size: 0.9rem !important;
  }

  .footer-text {
    margin-left: 0 !important;
    font-size: 0.9rem !important;
  }

  .footer-col h6 {
    margin-left: 0 !important;
  }

  .right-container {
    flex-direction: column;
  }

  .footer-col {
    margin-top: 1.8rem;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.hero-row {
  margin-top: 10rem !important;
}

.home-hero-row {
  margin-top: 4rem !important;
  margin-bottom: 2rem !important;
}

.home-hero-col {
  margin-top: 1rem !important;
  padding-left: 0rem !important;
  padding-right: 0rem !important;
}

.hero-title {
  font-weight: 700;
  font-size: 2.5rem;
  color: #363636;
  font-family: "Manrope", sans-serif;
  display: block;
  line-height: 3rem;
  text-align: center;
}

.hero-secondary-desc {
  font-weight: 500;
  font-size: 1.3rem;
  font-family: "Manrope", sans-serif;
  color: #6f6f6f;
  display: block;
  margin-top: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
}

.hero-tagline {
  font-weight: 600;
  font-size: 1.3rem;
  font-family: "Manrope", sans-serif;
  color: #363636;
  display: block;
  margin-top: 2.5rem;
  text-align: center;
}

.hero-tour {
  margin-left: 0.5rem;
  cursor: pointer;
}

.hero-tour:hover {
  text-decoration: underline;
}

@media (min-width: 0) and (max-width: 576px) {
  .navbar-nav {
    height: 100vh !important;
    margin-top: 0.5rem !important;
  }

  .hero-row {
    margin-top: 3rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .home-hero-col {
    margin-top: 1rem !important;
  }

  .home-hero-row {
    margin-top: 2.5rem !important;
    margin-bottom: 3rem !important;
    flex-flow: column-reverse;
  }

  .hero-title {
    font-size: 2rem !important;
    line-height: 2.1rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .hero-tagline {
    font-size: 1.1rem;
    margin-top: 1.9rem;
    text-align: center;
  }

  .hero-tour {
    display: block;
  }

  .hero-secondary-desc {
    font-size: 1rem !important;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: 1rem;
  }

  .hero-second-button {
    display: block;
    margin-left: 0;
    margin-top: 0.5rem;
  }

  .kukkee-primary-button {
    width: 100% !important;
  }

  .kukkee-secondary-button {
    width: 100% !important;
  }
}

.kukkee-primary-button {
  background-color: #000000 !important;
  color: #fafafa !important;
  font-weight: 500 !important;
  font-size: 1rem !important;
  font-family: "Inter", sans-serif;
  border: none !important;
  border-radius: 0.1rem !important;
  padding: 0.8rem 1.5rem 0.8rem 1.5rem !important;
  box-shadow: none !important;
  transition: none !important;
}

.kukkee-primary-button:hover {
  box-shadow: 0rem 0.15rem 0.3rem rgba(0, 0, 0, 0.2) !important;
}

.kukkee-primary-button[disabled] {
  opacity: 0.4 !important;
  pointer-events: none !important;
}

.jumbo-row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.jumbo-col-black {
  flex-grow: 1 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.jumbo-col {
  padding-left: 0 !important;
  padding-right: 0 !important;
  flex-grow: 1 !important;
}

.kukkee-jumbo {
  background-color: #fefffe !important;
  border: 0.1rem solid #e0e1e0 !important;
  color: #ffffff;
  padding: 1.5rem 2.5rem 0.5rem 2.5rem !important;
  margin-top: 1rem !important;
  margin-bottom: 0 !important;
  border-radius: 0.1rem !important;
}

.kukkee-new-poll-jumbo {
  background-color: #fefffe !important;
  border: 0.1rem solid #e0e1e0 !important;
  color: #ffffff;
  padding: 1.2rem 1.5rem 0.5rem 1.5rem !important;
  margin-top: 1rem !important;
  margin-bottom: 0 !important;
  border-radius: 0.1rem !important;
}

.poll-timeslot-jumbo {
  background-color: #fefffe !important;
  color: #363636;
  padding-top: 0.5rem !important;
  padding-left: 0rem !important;
  padding-right: 1rem !important;
  padding-bottom: 1.5rem !important;
  border-radius: 0.1rem !important;
  margin-top: 1rem !important;
  border: 0.1rem solid #e0e1e0 !important;
}

.create-poll-btn {
  float: right;
  margin-bottom: 2rem !important;
}

@media (min-width: 0) and (max-width: 576px) {
  .jumbo-col {
    margin-bottom: 0 !important;
  }

  .poll-timeslot-jumbo {
    padding: 1rem !important;
    border-radius: 0.1rem !important;
    margin-top: 0 !important;
  }

  .kukkee-jumbo {
    padding: 1rem 2rem 0.5rem 2rem !important;
    border-radius: 0.1rem !important;
    margin-top: 0 !important;
  }

  .kukkee-new-poll-jumbo {
    padding: 1rem 1rem 0.5rem 1rem !important;
    border-radius: 0.1rem !important;
    margin-top: 0 !important;
  }

  .create-poll-btn {
    float: none !important;
    width: 90% !important;
    margin-left: 1.25rem !important;
  }
}

.kukkee-form-text {
  background-color: #fefffe !important;
  color: #000000 !important;
  outline: 0.05rem solid #e0e1e0 !important;
  border: none !important;
  border-radius: 0.1rem !important;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem !important;
  font-weight: 400 !important;
  transition: none !important;
  box-shadow: 0rem 0.05rem 0.1rem rgba(0, 0, 0, 0.2);
}

.kukkee-form-text::placeholder {
  color: #818181 !important;
  opacity: 1 !important;
}

.kukkee-form-text:focus {
  border: none !important;
  outline: 0.14rem solid #363636 !important;
}

.kukkee-form-text.title {
  margin-bottom: 1rem;
}

.kukkee-form-text.description {
  margin-bottom: 1rem;
}

.kukkee-form-text.location {
  margin-bottom: 1rem;
}

.kukkee-form-label {
  font-weight: 400 !important;
  color: #4b4b4b !important;
}

.form-control:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.kukkee-form-option {
  background-color: #363636 !important;
  color: #6c757d !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 0.1rem solid #6c757d !important;
  border-radius: 0.1rem !important;
  font-size: 1rem !important;
  width: 25% !important;
}

.kukkee-form-last-row-col {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.tour-start-icon {
  width: 1.8rem;
  height: 1.8rem;
  color: #363636;
  margin: 0rem 0rem 0rem 0.5rem;
  cursor: pointer;
}

@media (min-width: 0) and (max-width: 576px) {
  .kukkee-form-desc {
    font-size: 1rem !important;
  }

  .kukkee-form-option {
    font-size: 0.8rem !important;
    width: 65% !important;
  }

  .tour-start-icon {
    width: 1.4rem;
    height: 1.4rem;
    margin: 0rem 0rem 0rem 0.5rem;
  }
}

.rat-TimeSlot_component {
  background-color: #363636 !important;
}

.rat-TimeSlot_handle {
  color: #fafafa !important;
}

.rat-TimeSlot_title {
  padding-top: 0.1rem !important;
  text-align: center !important;
  font-size: 0.8rem !important;
  font-weight: 600 !important;
  color: #fafafa !important;
}

@media (min-width: 0) and (max-width: 576px) {
  .rat-TimeSlot_title {
    padding: 0.1rem 0 0 0 !important;
    font-size: 0.5rem !important;
    line-height: 0.6rem !important;
  }

  .rat-AvailableTimes_toolbar {
    padding-top: 1rem !important;
    padding-bottom: 1.5rem !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .rat-AvailableTimes_interval {
    flex-basis: 13rem !important;
  }

  .poll-info-div {
    text-align: center !important;
    justify-content: center !important;
    align-content: center !important;
  }

  .mark-options-btn {
    float: none !important;
    width: 90% !important;
    margin-left: 1.25rem !important;
    margin-bottom: 3rem !important;
  }

  .mark-final-time-btn {
    float: none !important;
    width: 90% !important;
    margin-left: 1.25rem !important;
    margin-bottom: 3rem !important;
  }
}

.rat-DayHeader_day {
  font-size: 0.8rem;
  font-weight: 600;
}

.rat-Ruler_inner {
  font-size: 0.8rem;
}

.rat-AvailableTimes_interval {
  color: #6f6f6f !important;
}

.rat-AvailableTimes_button {
  fill: #6f6f6f !important;
}

.rat-AvailableTimes_button:hover {
  fill: #fafafa !important;
  background-color: #363636 !important;
}

.rat-Ruler_component {
  background-color: #fefffe !important;
}

.rat-AvailableTimes_home {
  display: none !important;
}

.rat-DayHeader_day {
  color: #6f6f6f !important;
}

.rat-Week_allDayLabel {
  display: none !important;
}

.rat-Ruler_inner {
  color: #6f6f6f !important;
}

.rat-DayHeader_events {
  display: none !important;
}

.rat-TimeSlot_delete {
  line-height: normal !important;
  font-size: 1rem !important;
}

.rat-Week_days {
  background-color: #fefffe !important;
}

.rat-Week_lines {
  background-color: #fefffe !important;
}

.rat-Day_component {
  border-left: 1px solid #e0e1e0 !important;
}

.rat-Day_mouseTarget {
  cursor: pointer !important;
  height: 75rem !important;
}

.mark-options-btn {
  float: right;
  margin-top: 2rem !important;
  margin-bottom: 4rem !important;
}

.mark-final-time-btn {
  float: right;
  margin-top: 0 !important;
  margin-bottom: 2rem !important;
}

.kukkee-badge-dash {
  font-size: 0.6rem !important;
  padding-top: 0.6em !important;
  padding-left: 0.6em !important;
  padding-right: 0.6em !important;
  padding-bottom: 0.6em !important;
  float: right !important;
}

.kukkee-badge-poll-open {
  font-size: 0.6rem !important;
  padding-top: 0.6em !important;
  padding-left: 0.6em !important;
  padding-right: 0.6em !important;
  padding-bottom: 0.6em !important;
  background-color: #2cdf0c1f !important;
  color: #2cdf0c !important;
  transition: none !important;
}

.kukkee-badge-poll-closed {
  font-size: 0.6rem !important;
  padding-top: 0.6em !important;
  padding-left: 0.6em !important;
  padding-right: 0.6em !important;
  padding-bottom: 0.6em !important;
  background-color: #3636362e !important;
  color: #363636 !important;
  transition: none !important;
}

.poll-info {
  background-color: #fefffe !important;
  border: 0.1rem solid #e0e1e0 !important;
  color: #6f6f6f;
  padding: 2.5rem 2rem 2rem 2rem !important;
  margin-top: 1rem !important;
  margin-bottom: 0 !important;
  border-radius: 0.1rem !important;
}

.poll-info-location {
  font-size: 1rem;
  display: block;
}

.poll-location {
  margin-top: -0.2rem;
  margin-right: 0.5rem;
}

.poll-table-jumbo {
  background-color: #fefffe !important;
  border: 0.1rem solid #e0e1e0 !important;
  color: #363636;
  padding: 1rem !important;
  border-radius: 0.1rem !important;
  margin-bottom: 0rem !important;
  margin-top: 1rem !important;
}

.votes-table-icon {
  color: #363636;
  margin-top: -0.2rem;
}

.votes-table-title {
  color: #363636;
  margin-left: 0.5rem;
}

#all-votes-table {
  margin-bottom: 2rem !important;
}

#all-votes-table-open {
  margin-bottom: 2rem !important;
}

.poll-info-content {
  padding-left: 0;
  padding-right: 0;
}

.poll-shareinvite-col {
  border-left: 0.1rem solid #818181 !important;
}

.poll-shareinvite-content {
  margin-top: 2rem;
}

.poll-info-title {
  font-size: 2.8rem;
  display: block;
  line-height: 3.5rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: #363636 !important;
}

.poll-info-desc {
  font-size: 1.5rem;
  display: block;
  margin-bottom: 2rem;
  line-height: 1.8rem;
}

.delete-icon {
  float: right;
  cursor: pointer;
  color: #ff0000;
}

@media (min-width: 0) and (max-width: 576px) {
  .jumbo-col-info {
    height: auto !important;
  }

  .poll-info {
    margin-top: 0 !important;
    padding: 1.5rem 1rem 1rem 1rem !important;
    border-radius: 0.1rem !important;
  }

  .poll-info-content {
    padding-left: 0;
    padding-right: 0;
  }

  .poll-shareinvite-col {
    border-left: 0 !important;
    border-top: 0.1rem solid #818181 !important;
    margin-top: 2rem;
    padding-top: 1rem !important;
  }

  .poll-shareinvite-content {
    margin-top: 1.5rem;
    padding-left: 0;
    padding-right: 0;
    border-left: 0rem;
  }

  .poll-info-title {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }

  .votes-table-icon {
    margin-left: 0.5rem;
  }

  #all-votes-table-open {
    margin-top: 0.5rem !important;
  }

  .poll-info-desc {
    font-size: 0.9rem;
    margin-top: 0.5rem;
    margin-bottom: 1.4rem;
    line-height: 1.3rem;
  }

  .poll-info-location {
    font-size: 0.7rem;
  }

  .poll-table-jumbo {
    border-radius: 0.1rem !important;
    margin-top: 0 !important;
  }

  .kukkee-badge-dash {
    font-size: 0.5rem !important;
  }

  .kukkee-badge-poll-open {
    font-size: 0.5rem !important;
  }

  .kukkee-badge-poll-closed {
    font-size: 0.5rem !important;
  }
}

.poll-table {
  margin-top: 0;
}

.poll-table-participants {
  font-size: 1.1rem;
  color: #6f6f6f;
  font-weight: 600;
  border-top: 0 !important;
  vertical-align: middle !important;
  width: 5rem !important;
  min-width: 8.3rem !important;
}

.poll-table-total-participants {
  font-size: 0.8rem;
  color: #6f6f6f;
  font-weight: 600;
  border-top: 0 !important;
  vertical-align: middle !important;
  width: 5rem !important;
  min-width: 8.3rem !important;
}

.participant-cell {
  border-top: 0 !important;
  border-bottom: 0 !important;
  width: 5rem !important;
}

.poll-table-top-row {
  background-color: #fefffe;
  color: #6f6f6f;
}

.slot-time {
  border-top: 0 !important;
  border-bottom: 0 !important;
  min-width: 7rem !important;
}

.slot-if-need-be-time {
  background-color: #ffbb001f;
  color: #ffbb00;
}

.slot-normal-time {
  background-color: #2cdf0c1f;
  color: #2cdf0c;
}

.slot-final-time {
  background-color: #363636;
  color: #fefffe;
}

.datetime-weekday {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: -0.2em;
}

.datetime-day {
  display: block;
  text-align: center;
  font-size: 2rem;
  margin-bottom: -0.2em;
}

.datetime-mon {
  display: block;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.4em;
}

.datetime-time-1 {
  display: block;
  text-align: center;
  font-size: 1rem;
  margin-bottom: -0.2em;
}

.datetime-time-2 {
  display: block;
  text-align: center;
  font-size: 1rem;
}

.mark-time-name {
  background-color: #fefffe !important;
  color: #000000 !important;
  outline: 0.05rem solid #e0e1e0 !important;
  border: none !important;
  border-radius: 0.1rem !important;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem !important;
  font-weight: 400 !important;
  transition: none !important;
  box-shadow: 0rem 0.05rem 0.1rem rgba(0, 0, 0, 0.2);
}

.mark-time-name::placeholder {
  color: #818181 !important;
  opacity: 1 !important;
}

.mark-time-name:focus {
  border: none !important;
  outline: 0.14rem solid #363636 !important;
}

.mark-time-name.protected {
  box-shadow: none !important;
  outline: none !important;
}

@media (min-width: 0) and (max-width: 576px) {
  .slot-time {
    min-width: 4.5rem !important;
  }

  .poll-table-participants {
    font-size: 0.8rem;
  }

  .poll-table-total-participants {
    font-size: 0.7rem;
  }

  .datetime-time-1 {
    font-size: 0.6rem;
  }

  .datetime-time-2 {
    font-size: 0.6rem;
  }
}

.if-need-be-checkbox {
  width: 1rem !important;
  margin: 0 auto !important;
}

.datetime-div {
  position: relative;
}

.slot-check-date-time-if-need-be {
  right: 0;
  top: 0;
  color: #ffbb00;
  right: -0.5rem;
  top: -0.5rem;
  position: absolute;
}

.slot-check-date-time-yes {
  right: 0;
  top: 0;
  color: #2cdf0c;
  right: -0.5rem;
  top: -0.5rem;
  position: absolute;
}

@media (min-width: 0) and (max-width: 576px) {
  .slot-check-date-time-yes {
    font-size: 0.7rem;
  }

  .slot-check-date-time-if-need-be {
    font-size: 0.7rem;
  }
}

.slot-checked {
  background-color: #2cdf0c1f;
  text-align: center;
  border-top: 0.5rem solid #fefffe !important;
  border-left: 0.5rem solid #fefffe !important;
  width: 7rem !important;
}

.slot-checked-if-need-be {
  background-color: #ffbb001f;
  text-align: center;
  border-top: 0.5rem solid #fefffe !important;
  border-left: 0.5rem solid #fefffe !important;
  width: 7rem !important;
}

.slot-unchecked {
  border-top: 0.5rem solid #fefffe !important;
  border-left: 0.5rem solid #fefffe !important;
  background-image: linear-gradient(
    135deg,
    #fefffe 30%,
    #e0e0e0 30%,
    #e0e0e0 50%,
    #fefffe 50%,
    #fefffe 80%,
    #e0e0e0 80%,
    #e0e0e0 100%
  );
  background-size: 7.07px 7.07px;
  width: 7rem !important;
}

.slot-total-votes {
  background-color: #fefffe;
  text-align: center;
  border-top: 0.5rem solid #fefffe !important;
  border-left: 0.5rem solid #fefffe !important;
  width: 7rem !important;
  font-weight: 600;
}

.total-yes-votes {
  color: #2cdf0c;
}

.total-if-need-be-votes {
  margin-left: 0.8rem;
  color: #ffbb00;
}

.slot-checked .slot-check {
  width: 2rem;
  height: 2rem;
  color: #2cdf0c;
}

.slot-checked-if-need-be .slot-check {
  width: 2rem;
  height: 2rem;
  color: #ffbb00;
}

.slot-unchecked .slot-check {
  display: none;
}

.poll-table-choose-text {
  font-size: 1.2rem;
  font-weight: 600 !important;
  border-top: 0 !important;
  color: #6f6f6f !important;
  min-width: 9rem !important;
}

.poll-table-choose-textbox {
  font-size: 1.2rem;
  font-weight: 600 !important;
  border-top: 0 !important;
  min-width: 8.3rem !important;
}

.slot-checkbox-cell {
  border-top: 0 !important;
  text-align: center;
  width: 7rem !important;
  height: 5.7rem;
}

.slot-checkbox {
  width: 1.5rem !important;
  margin: 0 auto !important;
}

.slot-checkbox input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
}

.slot-checkbox-final-cell {
  background-color: #fefffe;
  border-top: 0 !important;
  text-align: center;
}

.slot-checkbox input[type="radio"] {
  width: 1.5rem;
  height: 1.5rem;
}

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 3px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

.custom-toast {
  max-width: 35rem !important;
  position: fixed !important;
  bottom: 1rem !important;
  right: 1rem !important;
  z-index: 9999 !important;
  float: right !important;
  font-family: "Inter", sans-serif;
}

.share-textbox {
  background-color: #fafafa !important;
  color: #6f6f6f !important;
  border: 0.05rem solid #616161 !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  font-size: 0.8rem !important;
  max-width: 24rem !important;
  text-overflow: ellipsis;
}

.invite-textbox {
  background-color: #fafafa !important;
  color: #6f6f6f !important;
  border: 0.1rem solid #6c757d !important;
  border-radius: 0.1rem !important;
  font-size: 0.8rem !important;
}

.invite-textbox:focus {
  border: 0.1rem solid #a9aaac !important;
}

.invite-textbox::placeholder {
  color: #e0e0e0 !important;
}

.copy-btn {
  font-size: 0.8rem !important;
  border: 0.05rem solid #616161 !important;
  color: #fefffe !important;
  border-radius: 0.1rem !important;
  background-color: #363636 !important;
  transition: none !important;
}

.send-btn {
  font-size: 0.8rem !important;
}

.index-create-button {
  margin-bottom: 5rem;
}

@media (min-width: 0) and (max-width: 576px) {
  .share-textbox {
    font-size: 0.7rem !important;
  }

  .invite-textbox {
    font-size: 0.7rem !important;
  }

  .copy-btn {
    font-size: 0.7rem !important;
  }

  .send-btn {
    font-size: 0.7rem !important;
  }

  .index-create-button {
    font-size: 1rem !important;
    width: unset !important;
  }

  .total-if-need-be-votes {
    margin-left: 0rem;
    display: block;
  }
}

.card-footer-muted {
  color: #adadad;
}

.kukkee-button-spinner {
  vertical-align: -0.2rem !important;
}

.four-o-four {
  margin-top: 10rem !important;
  color: #363636;
}

.four-o-four h1 {
  font-size: 5rem;
  font-weight: 900;
}

.four-o-four p {
  font-size: 2rem;
}

.four-o-four a {
  color: #6f6f6f;
  text-decoration: underline !important;
}

.four-o-four a:hover {
  color: #363636;
  text-decoration: underline !important;
}

@media (min-width: 0) and (max-width: 576px) {
  .four-o-four {
    margin-top: 2rem !important;
    margin-left: 1rem;
  }

  .four-o-four span {
    font-size: 2rem;
    font-weight: 900;
  }

  .four-o-four p {
    font-size: 0.9rem;
  }
}

.inside-page {
  margin-top: 5rem !important;
  color: #363636;
}

.inside-page h1 {
  color: #363636;
  font-family: "Manrope", sans-serif;
  margin-bottom: 3rem !important;
  font-weight: 800;
}

.inside-page h2 {
  color: #363636;
  font-family: "Manrope", sans-serif;
  margin-top: 2rem !important;
  font-weight: 700;
}

.inside-page h3 {
  color: #363636;
  font-family: "Manrope", sans-serif;
  margin-top: 2rem !important;
  font-weight: 600;
}

.inside-page p {
  font-size: 1.2rem;
}

.inside-page a {
  color: #6f6f6f;
  text-decoration: underline !important;
}

.inside-page a:hover {
  color: #363636;
  text-decoration: underline !important;
}

.features {
  margin-bottom: 3rem !important;
}

.kukkee-card {
  background-color: #fafafa !important;
  margin-right: 2rem !important;
  padding-top: 1rem !important;
  border-top: 0.15rem #1d1d1d solid !important;
  border-bottom: none !important;
  border-left: none !important;
  border-right: none !important;
  border-radius: 0.1rem !important;
}

.kukkee-card-last {
  background-color: #fafafa !important;
  padding-top: 1rem !important;
  border-top: 0.15rem #1d1d1d solid !important;
  border-bottom: none !important;
  border-left: none !important;
  border-right: none !important;
  border-radius: 0.1rem !important;
}

.features .title {
  font-family: "Manrope", sans-serif;
  font-weight: 700 !important;
}

.features .description {
  font-family: "Inter", sans-serif;
  font-weight: 400 !important;
  font-size: 1rem !important;
}

@media (min-width: 0) and (max-width: 576px) {
  .inside-page {
    margin-top: 2rem !important;
    margin-left: 1rem;
  }

  .inside-page p {
    font-size: 1.1rem;
  }

  .features {
    margin-bottom: 0 !important;
  }
}

.kukkee-main-heading {
  font-family: "Manrope", sans-serif;
  font-size: 2rem;
  font-weight: 700 !important;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  background-color: #fffefe;
  border-bottom: #eaeaea solid 0.1rem;
}

.auth-button {
  margin-top: 2rem;
  float: right;
  margin-bottom: 2rem !important;
}

.poll-type {
  background-color: #fefffe !important;
  color: #000000 !important;
  border: none !important;
  outline: 0.05rem solid #e0e1e0 !important;
  border-radius: 0.1rem !important;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem !important;
  width: 8rem !important;
}

@media (min-width: 0) and (max-width: 576px) {
  .kukkee-main-heading {
    font-size: 1.5rem;
    padding-left: 1rem;
  }

  .auth-button {
    float: none !important;
    width: 90% !important;
    margin-left: 1.25rem !important;
  }
}
