main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fdfdfd;
}

footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
}

footer img {
  margin-left: 0.5rem;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

.hero {
  background-image: url("/rocket-bg.svg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-size: contain;
}

.hero-quote {
  margin-top: 120px;
}

h2 {
  font-weight: 100 !important;
  font-size: 3rem !important;
}

h3 {
  font-weight: 300 !important;
  font-size: 2rem !important;
}

h3.ctl,
h4.ctl,
h5.ctl {
  font-weight: 300 !important;
  font-size: 2rem !important;
}

h4 {
  font-weight: 300 !important;
  font-size: 1.5rem !important;
}

.container-fluid {
  padding: 2rem 0;
}

.outer-container-new {
  margin-top: 2rem;
}

.inner-container {
  padding: 1rem 2rem;
}

.poll-info {
  background-color: #F5F5F7;
  color: #000000;
  padding: 2rem;
  border-radius: 20px;
}

.poll-info h1 {
  font-weight: 700;
}

.poll-info h5 {
  font-weight: 500;
}

.poll-info-user {
  padding-top: 2rem;
  display: block;
}

.poll-info-date {
  display: block;
}

.poll-info-cal-icon {
  top: -5rem;
  right: 1rem;
  position: absolute;
}

.slot-checked {
  background-color: #cdeaa1;
  text-align: center;
}

.slot-unchecked {
  background-color: #fef9f9;
}

.slot-checkbox-cell {
  background-color: #5da8fd;
  text-align: center;
}

.slot-checkbox input[type="checkbox"] {
  width: 1.8rem;
  height: 1.8rem;
}

.slot-checkbox-final-cell {
  background-color: #ffbb12;
  text-align: center;
}

.slot-checkbox input[type="radio"] {
  width: 1.8rem;
  height: 1.8rem;
}

.slot-final-chosen-cell {
  background-color: #ffbb12;
}
.imp-star {
  color: #ff0000;
}

/*.card {
  border-radius: 0 !important;
  border: 0 !important;
}*/

a.ctl-button {
  margin: 10px;
  border-radius: 0 !important;
  min-height: 60px;
  width: 15rem;
  padding: 15px;
}

.col-9 {
  padding: 25px;
  min-height: inherit !important;
}
.card-body {
  padding: 0.5rem !important;
  min-height: 80px !important;
}

.row.ctl {
  min-height: inherit;
  padding: inherit;
}

.ctl.card {
  background-color: #ffffff;
  box-shadow: 3px 3px 19px 1px #ededed;
}

.outer-container {
  box-shadow: 1px 1px 20px 6px #ededed;
  background-color: #ffffff;
  margin-top: 30px;
}

.outer-container.share.row {
  margin: inherit;
  padding: inherit;
  align-items: center;
  box-shadow: 1px 1px 20px 6px #f5f5f5;
}

/*Invite tags*/

.error {
  margin: 0;
  font-size: 90%;
  color: tomato;
}

.tag-item {
  background-color: #d4d5d6;
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  border-radius: 30px;
  height: 30px;
  padding: 0 4px 0 1rem;
  display: inline-flex;
  align-items: center;
  margin: 0 0.3rem 0.3rem 0;
}

.tag-item > .button {
  background-color: white;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font: inherit;
  margin-left: 10px;
  font-weight: bold;
  padding: 0;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
