.rbc-calendar {
    font-family: "Inter";
}

.rbc-event {
    background-color: #000000;
}

.rbc-day-slot .rbc-event, .rbc-day-slot .rbc-background-event {
    border: 1px solid #000000;
    display: inline-block;
}

.rbc-time-slot {
    text-align: center;
}

.rbc-day-slot .rbc-events-container  {
    margin-right: 0;
}

.rbc-day-slot .rbc-event-label {
    padding-right: 0;
    margin: 0 auto;
    text-align: center;
}

.rbc-event-label {
    font-size: 75%;
    padding-top: 0.35rem;
}

.rbc-label {
    font-size: 0.8rem;
    color: #646464;
}

.rbc-timeslot-group {
    min-height: 69px;
}

.rbc-time-header-gutter {
    width: 54.2812px !important;
    min-width: 67.2812px !important;
    max-width: 62.2812px !important;
}

.rbc-header {
    border-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fefffe !important;
}

.rbc-slot-selection {
    text-align: center;
    padding-top: 0.48rem;
    border-radius: 5px;
}

.rbc-time-view .rbc-allday-cell {
    display: none;
}

.rbc-header + .rbc-header {
    border-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rbc-time-view .rbc-row {
    min-height: 44px;
}

.rbc-time-view {
    border-radius: 0.4rem;
}

.rbc-button-link {
    cursor: auto !important;
    color: #646464;

    &:focus {
        outline: 0 !important;
    }
}

.rbc-toolbar .rbc-toolbar-label {
    text-align: right;
    font-size: 0.9rem;
    color: #646464;
}

.rbc-today {
    background-color: #f9fafb;
}

.rbc-time-header.rbc-overflowing {
    border-right: 0;
}

.rbc-current-time-indicator {
    background-color: #000000;
}
  
.rbc-toolbar button {
    color: #646464;
    font-size: 0.8rem;
    background-color: #fefffe;

    &:hover {
        background-color: #f9fafc;
    }

    &:focus {
        outline: 0 !important;
        background-color: #fefffe;
    }
}
