.navbar {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  background-color: #fefffe;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  padding-right: 0.5rem;
  padding-left: 0.5rem;

  @include media-breakpoint-up(sm) {
    padding-right: 0;
    padding-left: 0;
  }
}

.navbar-logo {
  width: auto;
  height: 1.5rem;
  display: inline-block;
  margin-top: -0.2rem;
}

.navbar-logo-text {
  font-family: "Cal Sans";
  margin-left: 0.4rem;
  font-size: 1.3rem;
}

.navbar-hamburger {
  border: none;
  padding: 0;
  outline: none;

  &:hover,
  &:active,
  &:focus {
    border: none;
    outline: none;
  }
}

.navbar-link {
  color: #818181;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: "Cal Sans";
  letter-spacing: 0.03rem;
  margin-right: 0rem;
  margin-left: 0rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  border-bottom: 0.1rem solid #e0e1e0;

  &.active {
    color: #000000;
  }

  @include media-breakpoint-up(sm) {
    margin-left: 2rem;
    border-bottom: none;
  }

  &:hover {
    color: #000000;
    text-decoration: none;
  }

  &:last-of-type {
    border-bottom: 0rem solid #e0e1e0;
  }
}

.navbar-link-icon {
  margin-top: -0.14rem;
  margin-right: 0.1rem;

  @include media-breakpoint-up(sm) {
    margin-top: -0.27rem;
  }
}