.navbar {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #f9fafb;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border-bottom: 0.1rem solid #f2f4f6;

  @include media-breakpoint-up(sm) {
    padding-right: 0;
    padding-left: 0;
  }
}

.navbar-logo {
  width: auto;
  height: 1.5rem;
  display: inline-block;
  margin-top: -0.23rem;
}

.navbar-hamburger {
  border: none;
  padding: 0;
  outline: none;

  &:hover,
  &:active,
  &:focus {
    border: none;
    outline: none;
  }
}

.navbar-link {
  color: #3b414a;
  font-size: 0.85rem;
  font-weight: 500;
  font-family: "Inter";
  letter-spacing: 0.03rem;
  margin-right: 0rem;
  margin-left: 0rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  border-radius: 0.5rem;
  cursor: pointer;

  @include media-breakpoint-up(sm) {
    margin-left: 0.3rem;
    border-bottom: none;
  }

  &:hover {
    text-decoration: none;
    color: #3b414a;
    background-color: #e5e7eb;
  }

  &:last-of-type {
    border-bottom: 0rem solid #e0e1e0;
  }
}

.navbar-link-icon {
  margin-top: -0.15rem;
  margin-right: 0.1rem;
  font-size: 0.9rem;
  color: #4b5563;

  @include media-breakpoint-up(sm) {
    margin-top: -0.15rem;
  }
}