.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #fefffe;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  padding-right: 0.5rem;
  padding-left: 0.5rem;

  @include media-breakpoint-up(sm) {
    padding-right: 0;
    padding-left: 0;
  }
}

.navbar-logo {
  width: auto;
  height: 2rem;
  display: inline-block;
  vertical-align: top;
}

.navbar-hamburger {
  border: none;
  padding: 0;
  outline: none;

  &:hover,
  &:active,
  &:focus {
    border: none;
    outline: none;
  }
}

.navbar-link {
  color: #818181;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Syne", sans-serif;
  margin-right: 0rem;
  margin-left: 0rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  border-bottom: 0.1rem solid #e0e1e0;

  @include media-breakpoint-up(sm) {
    margin-left: 2rem;
    border-bottom: none;
  }

  &:hover {
    color: #000000;
    text-decoration: none;
  }
}
