.new-poll-jumbo {
  background-color: #fefffe;
  color: #ffffff;
  padding: 1rem;
  margin-bottom: 5rem;
  border-radius: 0.5rem;
  border: 0.09rem solid #e5e7eb;

  @include media-breakpoint-up(lg) {
    margin-bottom: 2rem;
  }
}

.new-poll-timeslot-jumbo {
  background-color: #fefffe;
  position: relative;
  color: #101827;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
  margin-top: 0rem;
  margin-bottom: 1.7rem;
  border: 0.09rem solid #e5e7eb;
  height: 37rem;
}
