.new-poll-jumbo {
  background-color: #fefffe;
  color: #ffffff;
  padding: 0;
  margin-bottom: 0;
  border-radius: 0.3rem;
}

.new-poll-timeslot-jumbo {
  border: 0.15rem solid #000000;
  background-color: #fefffe;
  position: relative;
  color: #000000;
  padding-top: 0.5rem;
  padding-left: 0rem;
  padding-right: 1rem;
  padding-bottom: 1.5rem;
  border-radius: 0.3rem;
  margin-top: 0rem;
  margin-bottom: 1rem;
}
