.new-poll-jumbo {
  background-color: #fefffe;
  color: #ffffff;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
  border: 0.09rem solid #e5e7eb;
}

.new-poll-timeslot-jumbo {
  background-color: #fefffe;
  position: relative;
  color: #101827;
  padding-top: 0.5rem;
  padding-left: 0rem;
  padding-right: 1rem;
  padding-bottom: 1.5rem;
  border-radius: 0.5rem;
  margin-top: 0rem;
  margin-bottom: 1.7rem;
  border: 0.09rem solid #e5e7eb;
}