.poll-info-jumbo {
  font-family: "Cal Sans";
  background-color: #fefffe;
  color: #101827;
  margin-top: 1rem;
  margin-bottom: 1.7rem;
  border-radius: 0.5rem;
  border: 0.09rem solid #e5e7eb;
  padding: 1rem;

  @include media-breakpoint-up(sm) {
    width: unset;
    padding: 4rem;
  }
}

.poll-table-jumbo {
  background-color: #fefffe;
  color: #101827;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  border: 0.09rem solid #e5e7eb;

  @include media-breakpoint-up(sm) {
    padding: 4rem;
  }

  &.first {
    margin-top: 1rem;
  }

  &.second {
    margin-top: 5rem;

    @include media-breakpoint-up(sm) {
      margin-top: 8rem;
    }
  }
}

.poll-message {
  font-family: "Inter";
  background-color: #fefffe;
  color: #101827;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  padding: 1rem 1rem 1rem 1rem;

  @include media-breakpoint-up(sm) {
    padding-top: 2rem;
    padding-right: 4rem;
    padding-bottom: 2rem;
    padding-left: 4rem;
  }
}

.poll-badge-open {
  font-size: 0.6rem;
  padding-top: 0.6em;
  padding-left: 0.6em;
  padding-right: 0.6em;
  padding-bottom: 0.6em;
  background-color: #f0fdf4;
  color: #49de80;
  transition: none;
  font-size: 0.5rem;
  letter-spacing: 0.02rem;

  @include media-breakpoint-up(sm) {
    font-size: 0.6rem;
  }
}

.poll-badge-closed {
  font-size: 0.6rem;
  padding-top: 0.6em;
  padding-left: 0.6em;
  padding-right: 0.6em;
  padding-bottom: 0.6em;
  background-color: #1018272e;
  color: #101827;
  transition: none;
  font-size: 0.5rem;
  letter-spacing: 0.02rem;

  @include media-breakpoint-up(sm) {
    font-size: 0.6rem;
  }
}

.poll-info-title {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: #101827;
  letter-spacing: 0.02rem;
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @include media-breakpoint-up(sm) {
    font-size: 2.8rem;
    line-height: 3.5rem;
  }
}

.poll-info-desc {
  display: block;
  font-weight: 500;
  color: #484848;
  font-size: 0.9rem;
  letter-spacing: 0.02rem;
  margin-top: 0.5rem;
  margin-bottom: 1.4rem;
  line-height: 1.3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @include media-breakpoint-up(sm) {
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin-bottom: 2rem;
  }
}

.poll-info-detail-title {
  font-family: "Inter";
  font-size: 0.7rem;
  display: block;
  font-weight: 500;
  color: #5e5e5e;
  margin-top: 1rem;

  @include media-breakpoint-up(sm) {
    font-size: 1rem;
  }
}

.poll-info-icon {
  margin-top: -0.2rem;
  margin-right: 0.5rem;
}

.poll-participant-cell {
  border-top: 0 !important;
  border-bottom: 0 !important;
  width: 5rem;
}

.poll-slot-time {
  font-family: "Cal Sans";
  border-top: 0 !important;
  border-bottom: 0 !important;
  min-width: 4.5rem;

  @include media-breakpoint-up(sm) {
    min-width: 7rem;
  }
}

.poll-table-total-participants {
  font-size: 0.7rem !important;
  font-family: "Cal Sans";
  color: #8c8c8c;
  font-weight: 600;
  border-top: 0 !important;
  vertical-align: middle !important;
  width: 5rem;
  min-width: 8.3rem;

  @include media-breakpoint-up(sm) {
    font-size: 0.8rem !important;
  }
}

.poll-slot-total-votes {
  font-family: "Cal Sans";
  background-color: #fefffe;
  text-align: center;
  border-top: 0.5rem solid #fefffe !important;
  border-left: 0.5rem solid #fefffe !important;
  width: 7rem;
  font-weight: 600;
}

.poll-total-votes-icon {
  margin-top: -0.1rem;
  margin-right: 0.2rem;
  color: #8c8c8c;

  @include media-breakpoint-up(sm) {
    margin-top: -0.2rem;
  }
}

.poll-slot-final-time {
  background-color: #101827;
  color: #fefffe;
}

.poll-slot-checked {
  background-color: #f0fdf4;
  text-align: center;
  border-top: 0.5rem solid #fefffe !important;
  border-left: 0.5rem solid #fefffe !important;
  width: 7rem;
}

.poll-slot-checked-if-need-be {
  background-color: #fffbeb;
  text-align: center;
  border-top: 0.5rem solid #fefffe !important;
  border-left: 0.5rem solid #fefffe !important;
  width: 7rem;
}

.poll-slot-unchecked {
  border-top: 0.5rem solid #fefffe !important;
  border-left: 0.5rem solid #fefffe !important;
  background-image: linear-gradient(135deg,
      #fefffe 30%,
      #e0e0e0 30%,
      #e0e0e0 50%,
      #fefffe 50%,
      #fefffe 80%,
      #e0e0e0 80%,
      #e0e0e0 100%);
  background-size: 7.07px 7.07px;
  width: 7rem;
}

.poll-slot-checked .poll-slot-check {
  width: 1.5rem;
  height: 1.5rem;
  color: #49de80;
}

.poll-slot-checked-if-need-be .poll-slot-check {
  width: 1.5rem;
  height: 1.5rem;
  color: #fcd34d;
}

.poll-slot-unchecked .poll-slot-check {
  display: none;
}

.poll-table-participants {
  font-size: 0.8rem !important;
  font-family: "Cal Sans";
  color: #101827;
  font-weight: 600;
  border-top: 0 !important;
  vertical-align: middle !important;
  width: 5rem;
  max-width: 8.3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @include media-breakpoint-up(sm) {
    font-size: 1.1rem !important;
  }
}

.poll-delete-icon {
  float: right;
  color: #101827;

  svg {
    cursor: pointer;
  }

  :hover {
    color: #ff0000;
  }
}

.poll-mark-time-name {
  background-color: #ffffff;
  color: #101827;
  border: 0.09rem solid #e5e7eb;
  border-radius: 0.5rem;
  font-family: "Inter";
  font-size: 0.9rem;
  font-weight: 500;
  transition: none;
}

.poll-mark-time-name:hover {
  color: #101827;
  background-color: #ffffff;
  border: 0.09rem solid #b7b9bd;
}

.poll-mark-time-name:focus {
  color: #101827;
  background-color: #ffffff;
  border: 0.1rem solid #101827;
}

.poll-mark-time-name.logged-in {
  box-shadow: none;
  outline: none;
}

.poll-table-choose-text {
  font-family: "Cal Sans";
  font-size: 1.2rem;
  font-weight: 600;
  border-top: 0 !important;
  color: #101827;
  min-width: 9rem;
}

.poll-table-choose-textbox {
  font-size: 1.2rem;
  font-weight: 600;
  border-top: 0 !important;
  min-width: 8.3rem;
}

.poll-slot-checkbox {
  width: 1.5rem;
  margin: 0 auto;
}

.poll-slot-checkbox-final-cell {
  background-color: #fefffe;
  border-top: 0 !important;
  text-align: center;
}

.poll-slot-checkbox input[type="radio"] {
  width: 1.5rem;
  height: 1.5rem;
  accent-color: #101827;
}

.copy-text-desktop {
  display: none;

  @include media-breakpoint-up(sm) {
    display: block;
  }
}

.copy-text-mobile {
  @include media-breakpoint-up(sm) {
    display: none;
  }
}

.poll-shareinvite-content {
  font-family: "Inter";
  color: #484848;
  font-size: 0.9rem;
  padding-left: 0;
  padding-right: 0;
  border-left: 0rem;
  display: inline-block;
  margin-top: -0.5rem;

  @include media-breakpoint-up(sm) {
    padding-left: unset;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    padding-right: unset;
    border-left: unset;
  }
}

.poll-share-textbox {
  background-color: #f9fafa !important;
  color: #515151;
  border: 0.1rem solid #363636;
  border-radius: 0.5rem;
  font-family: "Inter";
  font-size: 0.6rem;
  font-weight: 500;
  transition: none;
  width: 15rem !important;
  text-overflow: ellipsis;
  padding: 0.5rem;

  &:focus {
    color: #515151;
    border: 0.1rem solid #363636;
  }

  @include media-breakpoint-up(sm) {
    font-size: 0.7rem;
  }
}

.poll-copy-btn {
  font-size: 0.5rem;
  border: none;
  color: #ffffff;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: #101827;
  transition: none;

  &:hover,
  &:active,
  &:focus {
    background-color: #101827 !important;
    color: #ffffff !important;
    border: none !important;
  }

  @include media-breakpoint-up(sm) {
    font-size: 0.7rem;
  }
}

.poll-mark-time-cell {
  border-top: 0 !important;
  text-align: center;
  width: 7rem;
  padding: 0;
  vertical-align: middle;
}

.poll-mark-time-box {
  width: 2rem;
  height: 2rem;
  margin: 0 auto;
  border-radius: 0.5rem;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.poll-mark-time-box-check {
  width: 1rem;
  height: 1rem;
  margin: 0 auto;
  align-items: center;
}

.poll-mark-time-box.no {
  border: 0.15rem solid #b6b6b6;
}

.poll-mark-time-box.yes {
  border: 0.15rem solid #49de80;
  background-color: #f0fdf4;
}

.poll-mark-time-box-check.yes {
  color: #49de80;
  pointer-events: none;
}

.poll-mark-time-box.if-need-be {
  border: 0.15rem solid #fcd34d;
  background-color: #fffbeb;
}

.poll-mark-time-box-check.if-need-be {
  color: #fcd34d;
  pointer-events: none;
}