.privacy-jumbo {
  background-color: #fefffe;
  margin-top: 1rem;
  margin-bottom: 1.7rem;
  border-radius: 0.5rem;
  padding: 1rem 1rem 1rem 1rem;

  @include media-breakpoint-up(sm) {
    width: unset;
    padding: 5rem 5rem 5rem 5rem;
  }

  p {
    font-size: 0.8rem;
    color: #383838;
    margin-top: 1rem;
    font-family: "Inter";

    @include media-breakpoint-up(sm) {
      font-size: 1rem;
    }
  }

  a {
    color: #000000;
    text-decoration: underline;
  }

  h1 {
    color: #000000;
    font-family: "Cal Sans";
    letter-spacing: 0.02rem;
    font-size: 1.5rem;

    @include media-breakpoint-up(sm) {
      font-size: 2.5rem;
    }
  }

  h3 {
    color: #000000;
    margin-top: 2rem;
    letter-spacing: 0.02rem;
    font-family: "Cal Sans";
    font-size: 1rem;

    @include media-breakpoint-up(sm) {
      font-size: 1.5rem;
    }
  }
}