.voter-page-main {
  background-color: #f3f4f6;
}

.voter-page-main-container {
  background-color: #fefffe;
  border: 0.09rem solid #e5e7eb;
  padding: 1rem;
  border-radius: 0.5rem;

  @include media-breakpoint-up(lg) {
    width: 100%;
    overflow: auto;
    padding: 4rem;
  }
}

.voter-page-final-container {
  background-color: #fefffe;
  margin-top: 1rem;

  @include media-breakpoint-up(sm) {
    width: unset;
    display: flex;
    justify-content: flex-end;
  }
}

.voter-page-poll-mark-time-name {
  background-color: #ffffff;
  color: #101827;
  border: 0.09rem solid #e5e7eb;
  border-radius: 0.5rem;
  font-family: "Inter";
  font-size: 0.9rem;
  font-weight: 400;
  transition: none;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;

  @include media-breakpoint-up(sm) {
    margin-bottom: 0rem;
    margin-right: 1rem;
    width: 20%;
    margin-top: 0rem;
  }
}

.voter-page-poll-mark-time-name.form-control {
  display: inline-block !important;
}

.voter-page-poll-mark-time-name:hover {
  color: #101827;
  background-color: #ffffff;
  border: 0.09rem solid #b7b9bd;
}

.voter-page-poll-mark-time-name:focus {
  color: #101827;
  background-color: #ffffff;
  border: 0.1rem solid #101827;
}

.voter-page-poll-mark-time-name.logged-in {
  box-shadow: none;
  outline: none;
}

.voter-page-vote-recorded {
  font-family: "Inter";
  font-size: 0.7rem;
  display: block;
  font-weight: 500;
  color: #000;
  margin-top: 2rem;

  @include media-breakpoint-up(sm) {
    font-size: 1rem;
  }
}

.poll-vote-recorded-icon {
  margin-top: -0.2rem;
  margin-right: 0.5rem;
  color: #49de80;
}

.poll-info-final-time {
  font-family: "Inter";
  font-size: 0.7rem;
  display: block;
  font-weight: 500;
  color: #000;
  margin-top: 2rem;

  @include media-breakpoint-up(sm) {
    font-size: 1rem;
  }
}

.poll-info-final-time-decided-icon {
  margin-top: -0.2rem;
  margin-right: 0.5rem;
  color: #000;
}
