.no-poll-container {
  margin-top: 7rem;
  margin-bottom: 2rem;
  padding-left: 0.5rem;
  width: 95%;
  padding-right: 0.5rem;
  text-align: center;

  @include media-breakpoint-up(sm) {
    width: 100rem;
    padding-left: 0;
    padding-right: 0;
  }

  .icon {
    font-size: 4rem;
    background-color: #e5e7eb;
    border-radius: 1.5rem;
    padding: 1rem;
  }

  .first-line {
    display: block;
    font-family: "Cal Sans";
    font-size: 2rem;
    color: #101827;
    margin-top: 2rem;
  }

  .second-line {
    display: block;
    font-family: "Inter";
    font-size: 1rem;
    color: #636466;
    margin-top: 0.5rem;
    margin-bottom: 3rem;
  }
}

.poll-container {
  padding-left: 0.5rem;
  width: 95%;
  padding-right: 0.5rem;
  margin-top: 2rem;

  @include media-breakpoint-up(sm) {
    width: 75rem;
    margin-top: 7rem;
    padding-left: 0;
    padding-right: 0;
  }
}

.your-polls-polls-heading {
  font-size: 1.2rem;
  color: #565656;
  letter-spacing: 0.02rem;
  font-family: "Cal Sans";
  font-weight: 700;

  a {
    color: #101827;
    text-decoration: underline;

    &:hover {
      color: #101827;
    }
  }
}

.your-polls-poll-card {
  font-family: "Cal Sans";
  border-radius: 0.5rem;
  margin-top: 1.5rem;
  letter-spacing: 0.02rem;
  color: #101827;
  border: 0.1rem solid #e5e7ed;

  &:hover {
    background-color: #f9fafb;
    border: 0.1rem solid #e5e7ed;
  }

  a {
    color: #101827;

    &:hover {
      color: #101827;
      text-decoration: none;
    }
  }

  &:last-of-type {
    margin-bottom: 2rem;
  }

  .stretched-link {
    font-size: 1rem;
  }
}
